html {
  --flow-small: 10px;
  --flow-medium: 20px;
  --black: #161b27;
  --true-black: #111;
  --main-color: #00a5d6;
  --secondary-color: #273582;
  --text-gray: #4a5056;
  --gray: #9da4b2;
  --yellow: #ffce00;
  --green: limegreen;
  --red: red;
  --border: 1px solid RGBA(0, 0, 0, 0.2);
  --radius: 5px;
  --inner-padding: 5px;
  background: #252525;
}

.open-sans-variable {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body.app {
  font-family: "Open Sans", sans-serif;
}

body.darkmode {
  background: #252525;
  color: white;
  --border: 1px solid RGBA(255, 255, 255, 0.2);
}

h1 {
  text-align: center;
  font-size: 1.8em;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-top: 0.3em;
  font-weight: 600;
}

h4 {
  text-align: center;
  margin-top: -1em;
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 400;
  margin-block-end: 3em;
}

.wealth-o-meter {
  min-height: fit-content;
  text-align: center;
}

.wealth-o-meter.status.worth {
  font-size: 1.2rem;
}

.wealth-o-meter.status.growth {
  margin-top: -1em;
  color: var(--gray);
  margin-block-end: 3em;
}

.wealth-o-meter.status.worth-toast.inactive {
  display: none;
  opacity: 0;
}
.wealth-o-meter.status.worth-toast.active {
  position: absolute;
  top: 4.8em;
  left: 53%;
  z-index: 1;
  font-size: 1.2rem;
  color: red;
  opacity: 1;
  animation: fadeOut 3.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.buttons {
  text-align: center;
}

.alert {
  min-height: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

button {
  margin: 0 0.3em 0.3em 0;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: white;
  min-width: 10em;
  padding: 0.35em 1.2em;
  font-size: 1.5em;
  border: 0.1em solid white;
  border-radius: 0.12em;
  transition: all 0.2s;
}

@media all and (max-width: 30em) {
  button {
      display: block;
      margin: 0.4em auto;
  }
}

button:hover {
  background-color: white;
  color: var(--main-color);
}
button:active {
   color: #bbbbbb;
   border-color: #bbbbbb;
}

button:disabled {
  pointer-events: none;
  color: #ccc;
  background: transparent;
  border: var(--border);
}

.footer {
  position: fixed;
  width: 100%;
  margin: auto;
  bottom: 0;
  font-size: 0.7rem;
  font-weight: 200;
  color: var(--gray);
  p {
    text-align: center;
  }
}
